#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto; /* Adjusted margin to center the container */
  padding: 20px;
  border: 2px solid blue;
  border-radius: 8px;
  text-align: center;
  background-color: aqua;
  
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 8%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
}